body {
	margin-top:60px;
	margin-bottom:60px;
	margin-left:100px;
	margin-right:100px;
}
p {
	padding-top:50px;
	padding-bottom:50px;
	padding-right:50px;
	padding-left:50px;
	font-size:24px;
	font-family:cursive;
}

body {
	background-color:red;
}

p:nth-child(2) {
	font-size:60px;
}
